<h1>Cities</h1>

<ul>
  <% @cities.each do |cities| %>
    <li>
      <a href="api/cities/<%= cities.id %>">
        <%= cities.name %>
        <%= cities.description %>
        <%= cities.rating %>
        <%= cities.post %>
      </a>
    </li>
  <% end %>
</ul>
