<h1>Cities</h1>

<ul>
  <% @cities.each do |city| %>
    <li>
      <a href="/cities/<%= city.id %>">
        <%= city.name %>
        <%= city.description %>
        <%= city.rating %>
        <%= city.post %>
      </a>
    </li>
  <% end %>
</ul>
